DATABASE_URL="postgresql://user:password@localhost:5432/jobwala"
JWT_SECRET="your-super-secret-key-min-32-chars-long-for-production"
NODE_ENV="development"
BETTER_AUTH_SECRET="your-secret-key-here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# resend

RESEND_API_KEY="your_key_here"
EMAIL_FROM="admin@gmail.com"
